:root {
  --bg-color: rgb(158, 158, 158);
  --bd-rs: 10px;
  --margin: 8px;
}

html {
  overflow: hidden;
}

.touchpad-wrapper {
  --width: calc(100vmin - 16px);
  position: relative;
  margin: var(--margin);
  height: calc(var(--width) * 0.6);
  width: var(--width);
  background: var(--bg-color);
}

.touchpad-cursor {
  position: absolute;
  display: block;
  width: 3px;
  height: 3px;
  background-color:red;
  box-shadow: 0 0 2px 2px #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.touchpad {
  position: relative;
  height: 100%;
  width: 100%;
  background: var(--bg-color);
}

.buttons {
  margin: var(--margin);
  height: 20vw;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.button {
  background-color: var(--bg-color);
  border-radius: var(--bd-rs);
  width: calc(50% - var(--margin) / 2);
  height: 100%;
}